html {
	height: 100%;
}

body {
	min-height: 80%;
	background: url('test.jpg') no-repeat;
	background-size: cover;
}

.square-img {
	margin: auto;
	display: block;
	width: 40%;
}

#submit {
	margin: auto;
	display: block;
}