<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<form id="login">
		<input type="text" id="login" name="login" placeholder="Your login"/>
		<input type="password" id="password" name="password" placeholder="Your password"/>
		<input type="submit" id="signin" name="connect" value="Sign in"/>
	</form>
</body>

<script>
	const mysql = require('mysql');
	let loginInput = document.getElementById("login");

	const con = mysql.createConnection({
		host: "localhost",
		user: "root",
		password: "",
		database: "test"
	});

	var sql = 'SELECT * FROM user WHERE fname=\'';

	document.getElementById("login").addEventListener('submit', (form) => {
		form.preventDefault();
		const formData = new FormData(form.target);

		console.log();

		sql = sql + formData.get("login") + '\'';

		con.connect(function(err) {
			if (err) throw err;
			console.log("Connected!");
			con.query(sql, function (err, rows, fields) {
				console.log(sql);

				if (err) throw err;

				if(rows[0] !== null && rows[0] !== undefined && rows[0]["lname"] === document.getElementById("password").value) { 
					window.location.assign('index2.html');


					con.end(function(err) {
						if (err) {
							return console.log('error:' + err.message);
						}
						console.log('Close the database connection.');
					});

				}
				else {
					window.location.assign('');
				}

			});
		});
	})

</script>
</html>
