<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard - Directeur du restaurant</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/sidenav2.css">
  <link rel="stylesheet" href="../../../styles/css/views/CHANGE_HERE.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
	<div class="viewport">
		<div class="erpion-sidenav">
			<div class="erpion-sidenav__menu">
				<i class="material-icons">menu</i>
			</div>
			<div class="erpion-sidenav__profile">
				<div class="erpion-sidenav__profile-fond">
					<img src="../../../assets/img/user_background.jpg">
				</div>
				<div class="erpion-sidenav__profile-avatar">
					<img src="../../../assets/img/user_logo1.png">
				</div>
				<div class="erpion-sidenav__profile-info">
					<div class="erpion-sidenav__profile-info-nom" id="name">Nom</div>
					<div class="erpion-sidenav__profile-info-prenom" id="surname">Prénom</div>
					<div class="erpion-sidenav__profile-info-role" id="role">Directeur d'hébergement</div>
					<a class="btn" href="../../views/connexion/login_view.html">Déconnexion</a>
				</div>
			</div>
			<div class="erpion-sidenav__divider"></div>
			<div class="erpion-sidenav__onglets">
				<a class="erpion-sidenav__onglets-onglet--active" href="restauration_view.html">
					<i class="material-icons">play_arrow</i>Mon dashboard
				</a>
				<a href="menu_list_view.html" class="erpion-sidenav__onglets-onglet">Gérer les ménus</a>
				<a class="erpion-sidenav__onglets-onglet" href="./gerer_reservations.html">Gérer les ménus</a>
				<a class="erpion-sidenav__onglets-onglet" href="./gerer_voyages.html">Gérer le stock</a>
				<a class="erpion-sidenav__onglets-onglet" href="./gerer_notoriete.html">Gérer les commandes</a>
			</div>
			<div class="erpion-sidenav__logo">
				<img src="../../../assets/img/erpion_logo.png">
			</div>
		</div>

		<main>
			<div class="content">
				<!-- -------------- Plats du jour -------------- -->
				<div class="erpion-subsection">
					<div class="erpion-subsection__title">Plat du jour :</div>
				</div>

				<div class="row">
					<div class="col s9">
							<div class="erpion-card erpion-card__sm">
								<div class="row">
									<div class="col s3">
										<img src="../../../assets/img/kitchen/plat.png">
										<h6>Menu:<div id="menu"></div></h6>
									</div>
									<div class="col s3">
										<h6>Entrée:<div id="appetizer"></div></h6>
										<p id="ingredientsAppetizer"></p>
									</div>
									<div class="col s3">
										<h6>Plat Principal:<div id="maincourse"></div></h6>
										<p id="ingredientsMaincourse"></p>
									</div>
									<div class="col s3">
										<h6>Dessert:<div id="dessert"></div></h6>
										<p id="ingredientsDessert"></p>
									</div>
								</div>
							</div>
					</div>
					<div class="col s3">
				    	<div class="erpion-card erpion-card__sm">
							<h6>Prix:<div id="price"></div></h6>
							<!-- Get TVA -->
							<p><span>TVA : </span>20%</p>
							<!-- Get Heures -->
							<p><span>Horaires : </span>12h00-23h00</p>
						</div>
					</div>
				</div>
									
				<div class="row">
					<!-- ------------- Ca de la semaine ------------ -->
					<div class="col s6" id="stats">
						<div class="erpion-card erpion-card__sm">
							<h4>CA de la semaine</h4>
							<div class="row">
								<!-- Get Image -->
								<div class="col s6">Courbe</div>
								<div class="col s6">
									<!-- Get Chiffres d'affaires -->
									<p><span class="bold">CA : </span>+5003€</p>
									<!-- Get Flux -->
									<p><span class="bold">Flux : </span>0.5€</p>
									<!-- Get Numero de personnes entrées -->
									<p><span class="bold">Entrées : </span>103</p>
									<!-- Get Moyenne prix par personne -->
									<p><span class="bold">Prix moyen : </span>30€ Pa</p>
								</div>
							</div>
						</div>
					</div>
	
			
			
				<!-- ------------ Tables et Couverts ----------- -->
				<div class="col s6 row">
					<div class="col s12">
						<div class="erpion-card erpion-card__sm">
							<div class="row">
								<div class="col s6">
									<!-- Heures du Repas -->
									<h4>Midi</h4>
									<div>
										<!-- Get Disponibles -->
										<p>Couverts Disponibles</p>
										<p id="couvertsNonReserves"></p>
										<!-- Get Réservés -->
										<p>Couverts Réservés</p>
										<p id="couvertsReserves"></p>
									</div>
								</div>
								<div class="col s6">
									<a href="#" class="waves-effect waves-blue btn-small btn-tile">Gérer</a>
									<!-- Heures du Repas -->
									<h4>Soir</h4>
									<div>
										<!-- Get Disponibles -->
										<p>Couverts Disponibles</p>
										<p id="couvertsNonReservesNuit"></p>
										<!-- Get Réservés -->
										<p>Couverts Réservés</p>
										<p id="couvertsReservesNuit"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			
				<!-- ------------------ Stock ------------------ -->
					<div class="col s12">
						<div class="erpion-card erpion-card__sm">
							<a href="#" class="waves-effect waves-blue btn-small btn-tile">Gérer</a>
							<!-- Heures du Repas -->
							<h4>Stock</h4>
							<div class="row-stock">
								<!-- Get Nom -->
								<span class="left">Patates</span>
								<!-- Get Quantité -->
								<span>Qtee : 350/2000</span>
								<!-- Get Prix -->
								<span class="right">Prix unitaire : 0.12€</span>
							</div>
						</div>
					</div>
				</div>
			
			</div>
			
			
			
			
			
		</main>
	</div>
<script type="module"> require('../../controllers/restauration_controller.js');</script>
</body>
</html>
