<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stock - Création</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/sidenav2.css">
  <link rel="stylesheet" href="../../../styles/css/views/CHANGE_HERE.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
	<div class="viewport">
		<div class="erpion-sidenav">
			<div class="erpion-sidenav__menu">
				<i class="material-icons">menu</i>
			</div>
			<div class="erpion-sidenav__profile">
				<div class="erpion-sidenav__profile-fond">
					<img src="../../../assets/img/user_background.jpg">
				</div>
				<div class="erpion-sidenav__profile-avatar">
					<img src="../../../assets/img/user_logo1.png">
				</div>
				<div class="erpion-sidenav__profile-info">
					<div class="erpion-sidenav__profile-info-nom" id="name">Nom</div>
					<div class="erpion-sidenav__profile-info-prenom" id="surname">Prénom</div>
					<div class="erpion-sidenav__profile-info-role" id="role">Directeur d'hébergement</div>
					<a class="btn" href="../../views/connexion/login_view.html">Déconnexion</a>
				</div>
			</div>
			<div class="erpion-sidenav__divider"></div>
			<div class="erpion-sidenav__onglets">
				<a class="erpion-sidenav__onglets-onglet--active" href="restauration_view.html">
					<i class="material-icons">play_arrow</i>Mon dashboard
				</a>
				<a href="menu_list_view.html" class="erpion-sidenav__onglets-onglet">Gérer les ménus</a>
				<a class="erpion-sidenav__onglets-onglet" href="reservation_restaurant_view.html">Gérer les commandes</a>
			</div>
			<div class="erpion-sidenav__logo">
				<img src="../../../assets/img/erpion_logo.png">
			</div>s
		</div>
		
		
		<main>
			<div class="content">
				
				<!-- -------------- Liste de Menus -------------- -->
				<!-- Chambres libres -->
				
        <div class="erpion-subsection">
          <div class="erpion-subsection__title">Stock :<label id="menu"></label></div>
					<button type="button" class="btn-small green">
								<i class="material-icons">control_point</i>
					</button>
        </div>
        <div class="erpion-container">
          <div class="erpion-rows" id="stockList">
            <div class="nothing-found">
              <i class="material-icons">warning</i><p>Rien trouvé</p>
            </div>
          </div>
        </div>
 
				
			</div>
		</main>
	</div>
	<script type="module"> require('../../controllers/stock_list_controller.js');</script>
</body>
</html>
