<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../../../plugins/datatables/datatables.min.css"/>
  <script type="text/javascript" src="../../../plugins/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../../../plugins/datatables/datatables.min.js"></script>
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
  <!-- MENU -->
  <nav>
    <div class="nav-wrapper">
      <a href="general_view.html" class="brand-logo">C.R.U.D.</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="general_view.html">Show all tables</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="general_view.html">Show all tables</a></li>
  </ul>

  <!-- TABLE -->
  <div class="container" style="margin-top: 20px;">
    <div class="row">
      <table id="edit-table"></table>
    </div>
  </div>

  <!-- MODAL -->
  <!-- Modal Structure -->
  <div id="modalEdit" class="modal">
    <div class="modal-content" id="modal-content-edit"></div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


  <script type="module"> require('../edit_table.js');</script>
</body>
</html>
