<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Gérer Réservations</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/hebergement/gerer_voyages.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
<div class="viewport">
  <!-- BEGIN SIDENAV -->
  <div class="erpion-sidenav"></div>
  <!-- END SIDENAV-->

  <!-- BEGIN MAIN -->
  <main>
    <div class="content">
      <div class="erpion-voyages">
        <div class="erpion-voyage erpion-card erpion-card__xxl">
          <img class="erpion-voyage__photo" src="../../../assets/img/voyages/minorque1.jpg">
          <div class="erpion-voyage__content">
            <div class="erpion-voyage__content-header">Titre</div>
            <div class="erpion-voyage__content-body"></div>
            <div class="erpion-voyage__content-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- END MAIN -->
</div>

<!-- CRUD MANAGER BUTTON -->
<a href="../connexion/login_view.html" class="waves-effect waves-light btn"
   style="position: fixed; bottom: 10px; right: 10px;">
  <i class="small material-icons left">reply</i>Back to login
</a>
<script type="module"> require('../../controllers/hebergement_controller.js');</script>
</body>
</html>
