<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Gérer Réservations</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/hebergement/gerer_notoriete.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
<div class="viewport">
  <!-- BEGIN SIDENAV -->
  <div class="erpion-sidenav"></div>
  <!-- END SIDENAV-->

  <!-- BEGIN MAIN -->
  <main>
    <div class="content">
      <div class="erpion-subsection">
        <div class="erpion-subsection__title">Gérer la notoriété :</div>
      </div>
      <div class="erpion-container">
<!--        <div class="rating"></div>-->
        <div class="row">
          <form class="col s12" id="formNotoriete">
            <div class="row">
              <div class="input-field col s6">
                <div class="rating" data-column="room"></div>
                <label class="active">Chambres</label>
              </div>
              <div class="input-field col s6">
                <div class="rating" data-column="services"></div>
                <label class="active">Services</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <div class="rating" data-column="restaurant"></div>
                <label class="active">Restaurant</label>
              </div>
              <div class="input-field col s6">
                <div class="rating" data-column="events"></div>
                <label class="active">Evévenements</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="number" name="number" type="tel" class="validate">
                <label for="number">Telephone</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="comments" name="comments" class="materialize-textarea"></textarea>
                <label for="comments">Commentaires</label>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="offset-s10 col s2">
              <button type="button" id="boutonSaveCommentaire" class="btn right-align">Sauvegarder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- END MAIN -->
</div>
<!-- CRUD MANAGER BUTTON -->
<a href="../connexion/login_view.html" class="waves-effect waves-light btn"
   style="position: fixed; bottom: 10px; right: 10px;">
  <i class="small material-icons left">reply</i>Back to login
</a>
<script type="module"> require('../../controllers/hebergement_controller.js');</script>
</body>
</html>
