@import url('../fonts/fonts.css');

@import "abstracts/variables";
@import "abstracts/mixins";

@import "components/sidenav";
@import "components/cards";
@import "components/container";
@import "components/rows";
@import "components/sections";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 80%;
  background: url('../../assets/img/background.jpg') no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1000px;
  //min-height: 100%;
  margin: 5px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
}



