<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ERPion</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/sidenav.css">
  <link rel="stylesheet" href="../../../styles/css/views/CHANGE_HERE.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>

  <!-- CRUD MANAGER BUTTON -->
  <a href="../connexion/login_view.html" class="waves-effect waves-light btn" style="position: fixed; bottom: 10px; right: 10px;">
    <i class="small material-icons left">reply</i>Back to login
  </a>
</body>
</html>
