<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ERPion</title>
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/login.css">
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body class="valign-wrapper row">
<form id="login" class="col l4 offset-l4 m8 offset-m2 s10 offset-s1" method="post">
  <div class="card">
    <div class="card-content">

      <img class="square-img responsive-img" src="../../../assets/img/sample_hotel_logo.png">

      <div class="input-field">
        <input id="username" name="username" type="text" class="validate">
        <label for="username">Login</label>
        <span class="helper-text" data-error="Aucun utilisateur trouvé"></span>
      </div>

      <div class="input-field">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Mot de passe</label>
        <span class="helper-text" data-error="Mot de passe invalide"></span>
      </div>

      <button id="submit" class="btn-large waves-effect waves-light" type="submit" name="connect">Se connecter</button>

    </div>
  </div>
</form>
<!-- CRUD MANAGER BUTTON -->
<a href="../../crud/views/general_view.html" class="waves-effect waves-light btn"
   style="position: fixed; bottom: 10px; right: 10px;">
  <i class="small material-icons left">build</i>C.R.U.D. Manager
</a>
<script type="module"> require('../connexion_controller.js'); </script>
</body>
</html>
