<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log-In</title>
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
<div class="row">
  <form class="col s12 m5 l5 offset-2" id="login" method="post">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Log In</span>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" name="username" type="text" class="validate">
            <label for="username">Username</label>
            <span class="helper-text" data-error="Username not found!"></span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
            <span class="helper-text" data-error="Invalid password!"></span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 right-align">
            <input class="btn green" id="signin" name="connect" type="submit" class="validate" value="Sign in">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--<form id="login" method="post">-->
<!--  <input type="text" id="username" name="username" placeholder="Your username"/>-->
<!--  <input type="password" id="password" name="password" placeholder="Your password"/>-->
<!--  <input type="submit" id="signin" name="connect" value="Sign in"/>-->
<!--</form>-->
<script type="module"> require('../connexion_controller.js'); </script>
</body>
</html>
