.erpion-rows__row {
  height: 100px; }

.logo-centrale-reservation {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%; }

#formAjouter {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
