$color-blanc: rgb(255, 255, 255);
$color-beje: rgb(138, 131, 115);
$color-bleu: rgb(38, 53, 76);
$color-bleu-turquoise: rgb(50, 131, 176);
$color-doree: rgb(138, 100, 51);
$color-vert: rgb(15, 157, 88);
