<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ERPion</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/reception/dashboard_reception.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
<div class="viewport">
  <!-- BEGIN SIDENAV -->
  <div class="erpion-sidenav"></div>
  <!-- END SIDENAV-->

  <!-- BEGIN MAIN -->
  <main>
    <div class="content">
      <div class="erpion-subsection">
        <div class="erpion-subsection__title">Statistiques :</div>
      </div>
      <div class="erpion-card erpion-card-canvas erpion-card__sm">
        <canvas id="doughnutChart"></canvas>
      </div>
      <div class="erpion-card erpion-card-canvas erpion-card__sm">
        <canvas id="lineChart"></canvas>
      </div>
      <div class="erpion-card erpion-card__xs erpion-chiffres">
        <div class="erpion-chiffres__title">Chiffres (Semaine)</div>
        <div class="erpion-chiffres__long-cell" >
          <span id="chiffresAffaires">----</span>€
        </div>
        <div class="erpion-chiffres__small-cell">
          <span id="profit">----</span> €
        </div>
        <div class="erpion-chiffres__small-cell">
          <span id="curveIncome"><i class="material-icons trending-up">trending_up</i></span>
        </div>
        <div class="erpion-chiffres__small-cell">
          <span id="occupiedRoomsPercent">--</span>%<i class="material-icons">hotel</i>
        </div>
        <div class="erpion-chiffres__small-cell">
          <span id="totalAmountRooms">--</span><i class="material-icons">hotel</i></div>
      </div>

      <div class="erpion-subsection">
        <div class="erpion-subsection__title">Reservations :</div>
        <a class="btn" href="./gerer_reservations.html">Gérer</a>
      </div>
      <div class="erpion-card erpion-card__xxl">
        <div class="erpion-rows">
          <div class="erpion-rows__row">
            <i class="material-icons">hotel</i>
            <div class="erpion-rows__row-element">
              <div class="green-dot"></div>
            </div>
            <div class="erpion-rows__row-element">
              <label style="margin-right: 5px">Type:</label>
              <span class="chambre-type">Simple</span>
            </div>
            <div class="erpion-rows__row-element">
              <label style="margin-right: 5px">État:</label>
              <span class="chambre-status">
                <span id="occupiedSimple">--</span>/<span id="totalSimple">--</span>
              </span>
            </div>
            <div class="erpion-rows__row-element">
              <span class="chambre-details">
                <i class="material-icons">more_vert</i>
              </span>
            </div>
          </div>
          <div class="erpion-rows__row">
            <i class="material-icons">hotel</i>
            <div class="erpion-rows__row-element">
              <div class="green-dot"></div>
            </div>
            <div class="erpion-rows__row-element">
              <label style="margin-right: 5px">Type:</label>
              <span class="chambre-type">Double</span>
            </div>
            <div class="erpion-rows__row-element">
              <label style="margin-right: 5px">État:</label>
              <span class="chambre-status">
                <span id="occupiedDouble">--</span>/<span id="totalDouble">--</span>
              </span>
            </div>
            <div class="erpion-rows__row-element">
              <span class="chambre-details">
                <i class="material-icons">more_vert</i>
              </span>
            </div>
          </div>
          <div class="erpion-rows__row">
            <i class="material-icons">hotel</i>
            <div class="erpion-rows__row-element">
              <div class="green-dot"></div>
            </div>
            <div class="erpion-rows__row-element">
              <label style="margin-right: 5px">Type:</label>
              <span class="chambre-type">Suite</span>
            </div>
            <div class="erpion-rows__row-element">
              <label style="margin-right: 5px">État:</label>
              <span class="chambre-status">
                <span id="occupiedSuite">--</span>/<span id="totalSuite">--</span>
              </span>
            </div>
            <div class="erpion-rows__row-element">
              <span class="chambre-details">
                <i class="material-icons">more_vert</i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <button class="btn-flat erpion-card erpion-card__xs">
        <div class="center-align">
          <i class="material-icons">add_circle_outline</i><p>Réserver chambre</p>
        </div>
      </button>
      <div class="erpion-card erpion-card__sm">
        <div class="nothing-found">
          <i class="material-icons">warning</i><p>Rien trouvé</p>
        </div>
      </div>
      <div class="erpion-card erpion-card__sm">
        <div class="nothing-found">
          <i class="material-icons">warning</i><p>Rien trouvé</p>
        </div>
      </div>

      <div class="erpion-subsection">
        <div class="erpion-subsection__title">Créer une demande de maintenance :</div>
      </div>
      <form id="formDemandeMaintenance">
        <div class="row">
          <div class="col s1">
            <div class="input-field col s12">
              <button type="button" id="boutonNewDemandeMaintenance" class="btn-small waves-effect">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
          <div class="col s11">
            <div class="input-field col s4">
              <input id="titreDemandeMaintenance" name="titreDemandeMaintenance" type="text" class="validate">
              <label for="titreDemandeMaintenance">Titre</label>
            </div>
            <div class="input-field col s4">
              <input id="descDemandeMaintenance" name="descDemandeMaintenance" type="text" class="validate">
              <label for="descDemandeMaintenance">Description</label>
            </div>
            <div class="input-field col s4">
              <input id="deadlineDemandeMaintenance" name="deadlineDemandeMaintenance" type="text" class="validate">
              <label for="deadlineDemandeMaintenance">Deadline</label>
            </div>
          </div>
        </div>
      </form>



      <div class="erpion-subsection">
        <div class="erpion-subsection__title">Créer une demande de netoyage :</div>
      </div>
      <form id="formDemandeNettoyage">
        <div class="row">
          <div class="col s1">
            <div class="input-field col s12">
              <button type="button" id="boutonNewDemandeNettoyage" class="btn-small waves-effect">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
          <div class="col s11">
            <div class="input-field col s4">
              <input id="titreDemandeNettoyage" name="titreDemandeNettoyage" type="text" class="validate">
              <label for="titreDemandeNettoyage">Titre</label>
            </div>
            <div class="input-field col s4">
              <input id="descDemandeNettoyage" name="descDemandeNettoyage" type="text" class="validate">
              <label for="descDemandeNettoyage">Description</label>
            </div>
            <div class="input-field col s4">
              <input id="deadlineDemandeNettoyage" name="deadlineDemandeNettoyage" type="text" class="validate">
              <label for="deadlineDemandeNettoyage">Deadline</label>
            </div>
          </div>
        </div>
      </form>

    </div>
  </main>
  <!-- END MAIN -->
</div>
<!-- CRUD MANAGER BUTTON -->
<a href="../connexion/login_view.html" class="waves-effect waves-light btn"
   style="position: fixed; bottom: 10px; right: 10px;">
  <i class="small material-icons left">reply</i>Back to login
</a>
<script type="module"> require('../../controllers/reception_controller.js');</script>
</body>
</html>
