<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ERPion</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="../../../plugins/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="../../../plugins/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../../styles/css/style.css">
  <link rel="stylesheet" href="../../../styles/css/reception/gerer_facturation.css">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../../../plugins/materialize/js/materialize.min.js"></script>
</head>
<body>
<div class="viewport">
  <!-- BEGIN SIDENAV -->
  <div class="erpion-sidenav"></div>
  <!-- END SIDENAV-->

  <!-- BEGIN MAIN -->
  <main>
    <div class="content">

    </div>
  </main>
  <!-- END MAIN -->
</div>
<script type="module"> require('../../controllers/reception_controller.js');</script>
</body>
</html>
